.color{
	    background-color: #3a2b22;
 
    color: aliceblue;
}
.m-minus{
	margin-left: -12px;
}
.back-c{
	background-color:#BFD0D8;
}
.img{
	width: 100%;
}
.p-left{
	padding-left: 0;
}
focus:focus{
	box-shadow: none;
}